:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 1rem 0.5rem;
}

.input {
  flex: 1 1 50%;
  display: block;
  margin: 0 1rem;
  background-color: transparent;
  color: inherit;
  border: 1px solid #e3e3e3;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  resize: none;
}

.keyboard {
  flex-shrink: 0;
  display: flex;
  flex-wrap: nowrap;
  margin: 0.5rem 1rem;
  overflow-x: auto;

  &__key {
    font-family: monospace;
    box-sizing: content-box;
    border: 0;
    background: #636363;
    color: #e3e3e3;
    font-size: 1.3rem;
    min-width: 1.3rem;
    padding: 0.5rem;
    outline: none;
    margin-right: 0.2rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: #838383;
    }
    &:active {
      background-color: #939393;
    }
  }
}

.submit {
  padding: 1rem;
  text-align: center;

  &__button {
    width: 100%;
    border: 0;
    background: #636363;
    color: #e3e3e3;
    font-size: 1.3rem;
    padding: 0.5rem 2.5rem;
    outline: none;

    &:hover {
      background-color: #838383;
    }
    &:active {
      background-color: #939393;
    }
  }
}

.output {
  font-family: monospace;
  flex: 1 1 50%;
  display: block;
  width: 100%;
  background-color: transparent;
  color: inherit;
  padding: 1rem;
  font-size: 1rem;

  &--has-error {
    color: #f88;
  }
}
