<div class="header">
  <button
    class="header__button"
    (click)="save(js.value)"
  >Save</button>
  <button
    class="header__button"
    (click)="load()"
    [disabled]="!hasStoredCode"
  >Load</button>
  <button
    class="header__button"
    (click)="download()"
    [disabled]="!js.value"
  >Download</button>
</div>
<h1 class="title">JS Console</h1>
<textarea
  aria-label="JS Code"
  class="input"
  #js
  rows="20"
  (keydown)="onTextareaKeydown($event)"
></textarea>
<div
  class="keyboard"
>
  <button
    *ngFor="let key of keys"
    class="keyboard__key"
    (click)="onKeypress(key)"
  >{{ key }}</button>
</div>
<div class="submit">
  <button
    class="submit__button"
    type="button"
    (click)="run(js.value)"
  >Run</button>
</div>
<pre
  class="output"
  [class.output--has-error]="isError"
><code>{{ consoleOutput }}</code></pre>
